.connect {
	&__inner {
		background-color: #292F36;
		border-radius: 70px;
		padding: 100px 0;
		text-align: center;

		@include mq("tablet-2") {
			padding: 80px 0;
		}

		@include mq("tablet") {
			padding: 70px 0;
		}

		@include mq("phone") {
			padding: 60px 0;
		}
	}

	&__title {
		color: #FFFFFF;
		font-size: 50px;
		font-weight: 400;
		margin-bottom: 20px;
		padding: 0 15px;

		@include mq("tablet-2") {
			font-size: 40px;
		}

		@include mq("tablet") {
			font-size: 36px;
		}

		@include mq("phone") {
			font-size: 28px;
		}
	}

	&__text {
		color: #FFFFFF;
		margin-bottom: 30px;
		padding: 0 15px;

		@include mq("phone") {
			font-size: 20px;
		}
	}

	&__btn {
		background-color: $accent;

		&:hover {
			&::after {
				@include recolor($white);
			}
		}

		&::after {
			@include recolor($colorTitle);
		}
	}
}

.modal {
	font-family: 'Jost', sans-serif;
	text-align: center;
}

.modal__title {
	color: $colorTitle;
}

.modal__input {
	margin-bottom: 15px;
}

.modal__content {
	display: flex;
	flex-direction: column;
}

.modal__textarea {
	resize: none;
	height: 100px;
}

.form-input {
	padding: 12px;
	width: 100%;
	font-size: 16px;
	min-width: 280px;
}

.modal__footer {
	.button {
		font-size: 18px;
	}
}