.elements {
	&__list {
		display: flex;
		justify-content: center;
		gap: 60px;

		@include mq("tablet") {
			flex-direction: column;
			gap: 40px;
		}

		@include mq("phone") {
			gap: 20px;
		}
	}

	&__item {
		text-align: center;

		@include mq("tablet") {
			text-align: left;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-family: 'DM Serif Display';
		font-weight: 400;
		font-size: 25px;
		line-height: 39px;
		letter-spacing: 0.22px;
		color: #292F36;

		@include mq("phone") {
			// font-size: 22px;
			margin-bottom: 10px;
		}
	}

	&__text {
		max-width: 300px;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 33px;

		@include mq("tablet") {
			max-width: 100%;
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	&__btn {
		padding: 0 25px;
		position: relative;

		@include mq("tablet") {
			padding: 0 25px 0 0;
		}

		&::after {
			@include pseudo;
			background-image: url('../images/icons/elements-arrow.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			right: 0;
			width: 20px;
			height: 10px;
			top: 15px;
		}
	}
}