.hero {
	position: relative;

	&__bg {
		background-size: cover;
		background-position: bottom center;
		background-repeat: no-repeat;
		height: 100vh;
		border-radius: 0 0 0 290px;

		@include mq("desktop") {
			border-radius: 0;
		}
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		display: flex;
		align-items: center;
	}

	&__title {
		line-height: 1.2;
		font-weight: 600;
		font-size: 80px;
		max-width: 850px;
		margin-bottom: 20px;

		@include mq("tablet-2") {
			font-size: 66px;
		}

		@include mq("tablet") {
			font-size: 50px;
		}

		@include mq("phone") {
			font-size: 36px;
		}
	}

	&__text {
		max-width: 600px;
		margin-bottom: 20px;

		@include mq("phone") {
			font-size: 18px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}