.statistics {
	&__inner {
		background-color: #F4F0EC;
		padding: 140px 0;

		@include mq("tablet-2") {
			padding: 100px 0;
		}

		@include mq("tablet") {
			padding: 80px 0;
		}

		@include mq("phone") {
			padding: 60px 0;
		}
	}

	&__list {
		display: flex;
		justify-content: center;

		@include mq("phone") {
			flex-wrap: wrap;
			row-gap: 15px;
		}
	}

	&__item {
		min-width: 135px;
		width: 35%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 0 15px;


		&:not(:last-child) {
			border-right: 1px solid $accent;
		}

		@include mq("phone") {
			&:nth-child(even) {
				border: none;
			}
		}

		span {
			height: 100%;

			@include mq("tablet") {
				font-size: 20px;
			}
		}
	}

	&__num {
		font-size: 85px;
		color: $accent;
		letter-spacing: 1.7px;

		@include mq("tablet-2") {
			font-size: 70px;
		}

		@include mq("tablet") {
			line-height: 1.3;
		}
	}
}