body {
	font-family: 'Jost', 'Arial', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
	background-color: $white;
	color: $colorText;
	overflow-x: hidden;
	min-width: 320px;
}

.wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.main {
	flex-grow: 1;
}

.footer {
	flex-shrink: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	background-color: rgba($gray, .75);
	transition: visibility .3s ease-in-out,
		opacity .3s ease-in-out;
	visibility: hidden;
	opacity: 0;

	&--active {
		visibility: visible;
		opacity: 1;
	}
}

.logo {
	max-width: 177px;
	width: 100%;
	height: 50px;
	object-fit: contain;
	transition: opacity .3s ease;

	&:hover {
		opacity: .5;
	}

	&:active {
		opacity: .7;
	}
}

.section {
	padding-bottom: 100px;

	@include mq("tablet-2") {
		padding-bottom: 80px;
	}

	@include mq("tablet") {
		padding-bottom: 60px;
	}

	@include mq("phone") {
		padding-bottom: 50px;
	}
}

.title {
	color: $colorTitle;
	font-family: 'DM Serif Display', 'Arial', sans-serif;
	letter-spacing: 0.22px;
}

.button {
	color: $white;
	font-size: 18px;
	letter-spacing: 0.72px;
	border-radius: 18px;
	background-color: $colorTitle;
	padding: 22px 65px 22px 40px;
	position: relative;
	display: inline-block;
	transition: all .3s ease-out;

	&::after {
		@include pseudo;
		background-image: url('../images/icons/button-arrow.svg');
		width: 26px;
		height: 36px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		right: 25px;
		top: 20px;
	}

	&:hover {
		background-color: $accent;
		color: $colorTitle;

		&::after {
			@include recolor(#fff)
		}
	}
}

.circle-btn {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #F4F0EC;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all .3s ease-in;

	&--up {
		position: fixed;
		bottom: 50px;
		right: 50px;
		transform: rotate(-90deg);
		display: none;
	}

	&:hover {
		background-color: $accent;

		&::before {
			@include recolor($colorTitle);
		}
	}

	&::before {
		@include pseudo;
		background-image: url('../images/projects/arrow-btn.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 10px;
		height: 16px;
		position: absolute;

	}
}

.up {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgba($colorTitle, 0.40);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease-in;
	position: fixed;
	bottom: 35px;
	right: 35px;
	display: none;
	z-index: 50;

	@include mq("tablet-2") {
		width: 50px;
		height: 50px;
	}

	@include mq("tablet") {
		bottom: 30px;
		right: 30px;
	}

	@include mq("phone") {
		bottom: 15px;
		right: 15px;
	}

	&--active {
		display: flex;
	}

	&:hover {
		background-color: $accent;

		&::before {
			@include recolor($colorTitle);
		}
	}

	&::before {
		@include pseudo;
		background-image: url('../images/projects/arrow-btn.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transform: rotate(-90deg);
		width: 10px;
		height: 16px;
		position: absolute;
		@include recolor($accent);
	}
}